@mixin flex-box($direction: row, $content: flex-start, $align: flex-start) {
  display: flex;
  display: -webkit-flex;
  flex-direction: $direction;
  -webkit-flex-direction: $direction;
  justify-content: $content;
  -webkit-justify-content: $content;
  align-items: $align;
  -webkit-align-items: $align;
}
@mixin text-more-ellipsis($line:2){
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
}

@mixin text-one-ellipsis(){
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}