$global-background: #ffffff;
$border: #d7dde4;
$content: #9295a1;
$title: #2d3436;
$divider: #e3e8ee;
$white-smoke: #E1E1E1;
$container-width: 94%;
$default-radius: 0.1rem;
$margin-center: 0 auto 0 auto;
$shadow: 5px 5px 15px #dfe6e9;
$red: #ff4757;
$background-color:#ffffff;
$border-color: #d7dde4;
$title-color: #2d3436;
$content-color: #9295a1;
$divider-color: #e3e8ee;
//$container-width: 94%